<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
        <rule name="Allow LetsEncrypt" patternSyntax="Wildcard" stopProcessing="true">
          <match url=".well-known/*" />
          <action type="None" />
        </rule>
				<rule name="Root" stopProcessing="true">
					<match url="^$" />
					<action type="Rewrite" url="/public/index.php?url=" appendQueryString="true" />
				</rule>
				<rule name="GotoPublic" stopProcessing="true">
					<match url="^(.+)$" ignoreCase="true" />
					<conditions>
						<add input="{REQUEST_FILENAME}" pattern=".+\.(gif|jpg|jpeg|png|css|js|pdf)$" ignoreCase="true" negate="true" />						
					</conditions>
					<action type="Rewrite" url="/public/index.php?url={R:1}" appendQueryString="true" />
				</rule>				
			</rules>
		</rewrite>		
	</system.webServer>
</configuration>