.btn {
  background: #000;
  border: none;
  border-radius: 5px;  
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-family: inherit;
  margin: 5px;
  padding: 10px 20px;  
  text-decoration: none;  

  &:focus {
    outline: none;
  }

  &:active {
    transform: scale(0.98);
  }
}

.btn-block {
  display: block;
  width: 100%;
}