
.task {
  background: #f4f4f4;
  cursor: pointer;
  margin: 5px;
  padding: 10px 20px;  

  h3 {
    align-items: center;
    display: flex;    
    justify-content: space-between;
  }

  &.reminder {
    border-left: 5px solid green;
  }
}